@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/* Global Styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    font-family: "Raleway", sans-serif;
    /* background image */
    background-image: url("/images/bg-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 100%;
    background-color: hsl(229, 57%, 11%);
}
/* Main */
main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    margin-bottom: 10rem;
}
/* Menu */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 2.5rem;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 100px 10px 10px;
    width: 350px;
    height: 200px;
}
.logo-container > img {
    cursor: pointer;
}
.menu-option-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
.menu-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(229, 57%, 11%);
    border-radius: 10px;
    width: 50px;
    height: 50px;
}
/* Storage */
.storage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0rem 2rem;
    color: hsl(243, 100%, 93%);
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    width: 600px;
    height: 150px;
    position: relative;
}
/* Storage Progress Bar */
.input-container {
    width: 100%;
    position: relative;
}
label[for="storage-used"] > span {
    font-weight: 700;
}
#storage-used {
    width: 100%;
    -webkit-appearance: none;
    background-color: hsla(229, 57%, 11%, 0.675);
    border-radius: 15px;
    z-index: 2;
}
#storage-used::-webkit-slider-runnable-track {
    height: 20px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
}
#storage-used::-webkit-slider-thumb {
    width: 14px;
    -webkit-appearance: none;
    height: 14px;
    cursor: ew-resize;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 81.5%;
    top: 4px;
    z-index: 2;
    cursor: default;
}
#progress-bar {
    background: linear-gradient(100deg, rgb(255, 163, 153), rgb(255, 77, 151));
    width: calc(81.5% + 2.3%);
    height: 17px;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    z-index: 1;
    border-radius: 15px;
}
datalist#values {
    display: flex;
    justify-content: space-between;
}
datalist#values > option {
    padding: 5px 0px 0px 0px;
    font-weight: 700;
    font-size: 13px;
}
/* Storage Left */
.storage-left {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -45px;
    right: 50px;
    width: 170px;
    height: 70px;
    background-color: white;
    border-radius: 10px 10px 0px 10px;
    color: black;
}
.storage-left > p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2.5rem;
    font-weight: 700;
    width: 100%;
}
.storage-left > p > span {
    font-size: 0.8rem;
    color: hsl(229, 7%, 55%);
    text-transform: uppercase;
}
/* Storage Left Triangle */
.triangle {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    margin: 10px;
    bottom: -60px;
    right: -10px;
}
.triangle:after {
    content: '';
    background: white;
    width: 142%;
    height: 142%;
    position: absolute;
    transform: rotate(135deg) translate(-71%,0);
}
/* Laptop Screen Size */
@media screen and (max-width: 1025px) {
    /* Main */
    main {
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 10rem;
    }
    /* Menu */
    .menu {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 2.5rem;
        width: 94%;
        height: 150px;
    }
    label[for="storage-used"] {
        text-align: center;
        font-size: 15px;
    }
    /* Storage Left */
    .storage-left {
        top: 120px;
        right: 35.5%;
        border-radius: 10px;
    }
    /* Storage Left Triangle */
    .triangle {
        display: none;
    }
    .triangle:after {
        display: none;
    }
}
/* Mobile L Screen Size */
@media screen and (max-width: 426px) {
    body {
        background-image: url("/images/bg-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 0px;    
    }
    /* Main */
    main {
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 5rem;
    }
    /* Menu */
    .menu {
        flex-direction: column  ;
        justify-content: center;
        align-items: flex-start;
        gap: 1.3rem;
        padding-left: 2.5rem;
        width: 97%;
        height: 170px;
    }
    /* Storage */
    .storage {
        width: 90%;
    }
    /* Storage Progress Bar */
    #progress-bar {
        background: linear-gradient(100deg, rgb(255, 163, 153), rgb(255, 77, 151));
        width: calc(81.5% + 5%);
        height: 17px;
        position: absolute;
        top: 2.5px;
        left: 2.5px;
        z-index: 1;
        border-radius: 15px;
    }
    /* Storage Left */
    .storage-left {
        top: 120px;
        right: 28%;
        border-radius: 10px;
    }
}
/* Mobile M Screen Size */
@media screen and (max-width: 376px) {
    /* Menu */
    .menu {
        width: 91.5%;
    }
    /* Storage */
    .storage {
        width: 85%;
        padding-bottom: 2rem;
    }
    /* Storage Left */
    .storage-left {
        top: 150px;
        right: 25%;
        border-radius: 10px;
    }
}
/* Mobile S Screen Size */
@media screen and (max-width: 321px) {
    /* Menu */
    .menu {
        width: 82.5%;
    }
    /* Storage */
    .storage {
        width: 75%;
        padding-bottom: 2rem;
    }
    /* Storage Left */
    .storage-left {
        right: 24%;
    }
}